html, body {
	margin: 0;
	padding: 0;
}

h1 {
/* text */
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: rgb(35, 35, 35);
/* image */
    background-image: url("cp02_images/squares.svg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.5em 0em 2.5em 10vw;     
    box-sizing: border-box;
}

nav {
    background-color: black;
    padding: 0.75em 0em 0.75em 0em;
}

.nav_bar {
    display : grid; 
    grid-template-columns : 1fr 1fr 1fr 1fr;
    text-align: center;
}

.nav_bar a, .nav_dropdown{
    font-family: Helvetica !important;
    font-size: 1em !important;
    color: white !important; 
    text-decoration: none !important;
}


#invert {
    filter: invert(100%);
    height: 1.5em;
    padding-left: 3vw;
}

.kiwi p {
    margin: 0;
}

.nav_dropdown {
    display: none;
    padding: 0.5em 0.5em 0.5em 1em;
}

@media screen and (max-width: 800px) {  /*small screen*/

    nav:hover .nav_dropdown {
        display: block;
    }

}

@media screen and (max-width: 800px) {  /*small screen*/
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2em!important;
        max-height: 172px;
        padding: 2em 0em 2em 5vw;  
    }
    .navWide{
        display: none;
    }
    .nav_bar a{
        display: none;
    }
}

@media screen and (min-width: 800px) { /*wide screen*/
    .navNarrow {
        display: none;
    }
    .dropdown{
        display: none;
    }
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px; 
    text-decoration: none !important; 
}

.intro {
    display : grid; 
    grid-template-columns : 1fr 1fr;
    padding: 3em 7vw 3em 7vw;
    font-family:  Helvetica; 
    text-decoration: underline;
}

#youtube {
    width : 90%;
    height: 90%;
    justify-content: center;
    border: 2px solid;
    box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.9);
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px; 
}

.black_header {
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1em 0em 0.5em 6em;
}


.black {
    display : grid; 
    grid-template-columns : 1fr 1fr 1fr 1fr;
    grid-gap : 2em;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 0em 7em 3em 7em;
}

@media screen and (max-width: 800px) {  /*small screen*/
    .intro {
        display: block;
        padding: 1em 1em 1em 2em;
    }
    .black_header {
        padding: 2em 0em 1em 2em;   
    }
    .black {
        display: block;
        padding: 1em 2em 2em 2em;        
    }
    #youtube {
        width : 95%;
        height: 300px;
        justify-content: center;
    }
}

p {
    font-family:  Helvetica;
}

button {
    background-color: white;
    border-color: black;
	color: black;
	padding: 20px 10px 20px 10px;
	font-family: Arial;
	font-size: 15px;
}

.white_header {
    padding: 1em 0em 0.5em 6em;

}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.white {
    display: inline-grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    border: 2px solid;
    border-left: 2px solid;
    width: 70%; /*width must be defined for margin to work*/
    margin: 0vh 15vw 1em 15vw;
    padding: 1em 1em 1em 1em;
    box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.9);
}

.grid-item1 {
    grid-row-start: 1;
  }
.grid-item2 {
    grid-row-start: 2;    
    border-top: 1px solid;
  }
.grid-item3 {
    grid-row-start: 2;
    border-top: 1px solid;
  }

.partner_grid {
    margin: 1em 10vw 1em 10vw;
}
.pImage {
    width: 12%;
}

.black_final {
    display : grid; 
    grid-template-columns : 1fr 1fr 1fr;
    grid-gap : 2em;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 2em 7em 3em 7em;
    font-size: 0.9rem;
}

footer {
    background-color: black;
    color: white;
    padding: 2em 6em 3em 6em;
    font-family: Helvetica;
    font-size: 0.8rem;
}

@media screen and (max-width: 800px) {  /*small screen*/
    .partner_grid {
        margin: 1em 4vw 1em 4vw;
    }
    .white {
        display: block;
        width: 90%;
        margin: 0vw 1vw 1em 2vw;
    }
    .grid-item3 {
        grid-row-start: 2;
        border-top: 0px ;
      }
    .black_final {
        display: block;
        padding: 1em 2em 2em 2em;  
    }
    .white_header {
        padding: 2em 0em 1em 2em;   
    }
}